

/*GENERALI*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffdfdf;
}

.box{
  margin: 0 auto;
  width: 900px;
  
}

/*MENU'*/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #d07199;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.menu-link.active {
  font-weight: bold;
  text-decoration: underline;
}


/*HEADER*/
.container {
  margin: 0 auto;
}

h1 {
  font-size: 45px;
  font-weight: 600;
  color: #d07199;
  /*margin: 20px;*/
}

h3 {
  font-size: 30px;
  font-weight: bold;
  color: #ffdfdf;
  margin: 20px;
  padding: 20px;
}

span {
  font-size: 35px;
  font-weight: bold;
  color: #d07199;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid #d07199;
  display: inline-block;
  animation: typing 3s steps(30, end) forwards, blink .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 18ch }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: #d07199; }
}


p {
  font-size: 20px;
  color: white;
}
/*PRESENTAZIONE*/
.presentazione {
  display: flex;
  margin: 150px;
  justify-content: center;
}

.intro {
  margin-left: 100px;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.presentazione img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px solid #d07199;
  box-shadow: 10px -8px 0px #d07199;
}

/*ABOUT*/
.about {
  background-color: #d07199;
  height: 500px;
  text-align: center;
  background-image: url(../img/pngimg.com\ -\ sakura_PNG42.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*FORMAZIONE*/
.experience {
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.experience h3 {
  color: #d07199;
}
.experience p {
  color: #d07199;
}

/*SKILL*/
.skills {
  height: 500px;
  background-color: #d07199;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.icon-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}
.icon {
  background-image: url(../img/sakura.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease; 
}

.icon:hover {
  transform: scale(1.1); /
}

.icon:hover p {
  color: #ffdfdf;
}

.icon img {
  width: 50px;
  margin: 0;
}

.icon p {
  margin-top: 10px; 
  color: white;
  font-weight: bold;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
}
.card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.img-card img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.social-media img {
  width: 50px;
}
